<% layout("/layouts/boilerplate") -%>
<div class="row">
    <div class="alert alert-danger col-6 offset-3" role="alert">
      <h4 class="alert-heading"> <%=message %></h4>
      <!-- here we alse use error.stack to see where thus error come from -->
      <!-- in error.ejs watch video -->
    </div>
</div>